{% extends 'base.html' %}
 
{% block title %}
    Post-detail
{% endblock %}
 
{% block content %}
<h1>{{post.title}}</h1>
    <div>{{post.body}}</div>
    {% if request.user is_authenticated and not request.user.role=='ordinary' %}
    <a href="{{post.get_update_url}}" class='btn-primary'>Редатировать</a>
    <a href="{{post.get_delete_url}}" class='btn-danger'>Удалить</a>
    <hr>

{% with comments.count as total_comments %}
    <h2>{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
{% endwith %}

{% for comment in comments %}
    <div class="comment">
        <p class="info">
            Comment {{ forloop.counter }} by {{ comment.name }}
            {{ comment.created }}</p>
        {{ comment.body|linebreaks }} 
    </div>
{% empty %}
    <p> There are no comments yet.</p>
{% endfor %}
 
<!-- {% if new_comment %}
    <h2>Your comment has been added.</h2>
{% else %} -->
    <h2>Add a new comment</h2>
    <form action="." method="post">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Add comment"></p>
    </form>
<!-- {% endif %} -->
{% endblock %}
